# Copy this to .env.local and fill in values
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/tagtech?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_string_min_32_chars
NEXT_PUBLIC_BASE_URL=http://localhost:3000
